.background {
    background-color: lightsteelblue;
}

.appHeader {
    font-size: 30px;
    height: 10%;
    color: black;
    text-align: center;
}

.button {
    width: 75%;
    height: 20%;
    background-color: ghostwhite;
    margin-bottom: 5%;
    font-size: 30px;
}

.icomoon {
    font-family: "icomoon";
    font-size: 32px;
    color: black;
}

